body{
    background-image: url("../img/bgimg1.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#window{
    border-radius: 8px;
    height:300px;
    width:500px;
    background-color: white;
    margin: auto;
    position: absolute;
    top:0;left: 0;right: 0;bottom: 0;
    opacity:0.8;
    filter:alpha(opacity=80);
    vertical-align:middle;
}

#format{
    padding: 5px;
    margin: auto auto;
    position: absolute;
    top:0;left: 0;right: 0;bottom: 0;
}
input{
    display: block;
    position: relative;
    height:16px;
    width: 90%;
    border:1px solid #ddd;
    transition: .3s;
    padding:15px;
}
.login-button{
    display: block;
    height:16px;
    width: 90%;
    transition: .3s;
    padding:15px;
    text-align: center;
    margin: auto auto;
    position: relative;
   border: 3px solid white;
    font-size: 15px;
    line-height:2px;
    vertical-align: middle;
}
#change{
    text-align: center;
    vertical-align: middle;
    display: block;
    position: relative;
    height:16px;
    padding:12px;
}
#error{
    text-align: center;
    vertical-align: middle;
    display: block;
    position: relative;
    height:10px;
}
a{
   margin: auto auto;
    text-decoration: none;
    color: #335cab;
}